@import url('https://fonts.googleapis.com/css2?family=Barlow&family=PT+Sans&display=swap');

.navbar{
    font-size: large;
}


h2 {
    margin: 0.6em;
    font-family: inherit;
    font-weight: 500;
    line-height: 1;
    color: inherit;
    
}

a {
    color: #101112ce;
    text-decoration: none;
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
}

.button-54 {
    font-family: "Open Sans", sans-serif;
    font-size: 65%;
    letter-spacing: 2px;
    text-decoration: none;
    text-transform: uppercase;
    color: #000;
    cursor: pointer;
    border: 3px solid;
    padding: 0.25em 0.5em;
    box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px, 5px 5px 0px 0px;
    position: relative;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    margin-left: 6rem;
    
}

.button-54:active {
    box-shadow: 0px 0px 0px 0px;
    top: 5px;
    left: 5px;
}

@media (min-width: 768px) {
    .button-54 {
        padding: 0.25em 0.75em;
        margin-bottom: 15px;
    }
}
#contain{
    width: 80em;
    zoom: 1.15;

}
body{
    background-image: url(https://images.unsplash.com/photo-1554034483-04fda0d3507b?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80);
    background-repeat: no-repeat;
    background-size: cover;
  

}   

.card {
    position: relative;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    width: auto;
    height: auto;
    word-wrap: break-word;
    background-color: rgba(255, 255, 255, 0.738);
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: 0.25rem;
    margin-bottom: 30px;
}